NoderedFlow.json
[
    {
        "id": "8de152ac.54ce3",
        "type": "tab",
        "label": "Smart Assistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d69b6ae.c0504a",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "httpresponse",
        "func": "msg.payload={\"temperature\":global.get('temperature'),\"pulse\":global.get('pulse')}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "72dfce10.e3c7f"
            ]
        ]
    },
    {
        "id": "579d1631.f484a8",
        "type": "http in",
        "z": "8de152ac.54ce3",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "2d69b6ae.c0504a"
            ]
        ]
    },
    {
        "id": "72dfce10.e3c7f",
        "type": "http response",
        "z": "8de152ac.54ce3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "91c99769.84f248",
        "type": "ibmiot in",
        "z": "8de152ac.54ce3",
        "authentication": "apiKey",
        "apiKey": "92669124.53c3c",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "311621a4.cefcbe",
                "7a3d5db6.4b38d4"
            ]
        ]
    },
    {
        "id": "311621a4.cefcbe",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "temperature",
        "func": "global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "357a26fd.6d849a",
                "99ab1eae.fb96f"
            ]
        ]
    },
    {
        "id": "7a3d5db6.4b38d4",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "pulse",
        "func": "global.set('pulse',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "9f3825a1.5fba58",
                "99ab1eae.fb96f"
            ]
        ]
    },
    {
        "id": "357a26fd.6d849a",
        "type": "ui_chart",
        "z": "8de152ac.54ce3",
        "name": "",
        "group": "19cdc198.b106ae",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Body Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "50",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9f3825a1.5fba58",
        "type": "ui_chart",
        "z": "8de152ac.54ce3",
        "name": "",
        "group": "19cdc198.b106ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pulse Rate Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "50",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9aa2c262.2685b",
        "type": "inject",
        "z": "8de152ac.54ce3",
        "name": "check condition",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "54431aa4.5fbbf4",
                "b540b0cd.d53ed"
            ]
        ]
    },
    {
        "id": "54431aa4.5fbbf4",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "",
        "func": "msg.payload={\"temperature\":global.get('temperature')}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "e7226855.acf2a8"
            ]
        ]
    },
    {
        "id": "99ab1eae.fb96f",
        "type": "debug",
        "z": "8de152ac.54ce3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "e7226855.acf2a8",
        "type": "switch",
        "z": "8de152ac.54ce3",
        "name": "",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "34a78e95.28e692"
            ]
        ]
    },
    {
        "id": "34a78e95.28e692",
        "type": "ui_toast",
        "z": "8de152ac.54ce3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Body Temperature is high.... Check patient",
        "name": "",
        "x": 980,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b540b0cd.d53ed",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "",
        "func": "msg.payload={\"pulse\":global.get('pulse')}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "417ef181.f19f1"
            ]
        ]
    },
    {
        "id": "417ef181.f19f1",
        "type": "switch",
        "z": "8de152ac.54ce3",
        "name": "",
        "property": "payload.pulse",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "506c0549.54100c"
            ]
        ]
    },
    {
        "id": "506c0549.54100c",
        "type": "ui_toast",
        "z": "8de152ac.54ce3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Pulse Rate is high.... Check patient",
        "name": "",
        "x": 950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff99742.85ef78",
        "type": "http in",
        "z": "8de152ac.54ce3",
        "name": "",
        "url": "/message",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "a855073f.7eb3e8"
            ]
        ]
    },
    {
        "id": "a855073f.7eb3e8",
        "type": "function",
        "z": "8de152ac.54ce3",
        "name": "",
        "func": "msg.payload = msg.payload.command\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 640,
        "wires": [
            [
                "5be90339.2ff86c",
                "eefab767.f6ac68"
            ]
        ]
    },
    {
        "id": "5be90339.2ff86c",
        "type": "http response",
        "z": "8de152ac.54ce3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "eefab767.f6ac68",
        "type": "debug",
        "z": "8de152ac.54ce3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "92669124.53c3c",
        "type": "ibmiot",
        "name": "iotdevice",
        "keepalive": "60",
        "serverName": "71luid.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "19cdc198.b106ae",
        "type": "ui_group",
        "name": "Smart Assistant",
        "tab": "625297ed.9a4ae8",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "625297ed.9a4ae8",
        "type": "ui_tab",
        "name": "Smart Assistant",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]